/* .success{
    color: greenyellow;
}
.error{
    color: red;
} */

.hello{
    color: brown;
    font-size: 45px;
}
.bannerText{
    font-size: 55px;
    font-weight: bolder;
}
.active{
    color:blue
}